body{
	font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	background: #f3f1f1;
	font-size: 0.9em;
	margin:0;
	padding:0;
}
ol#qunit-tests {
	width: 80%;
	margin:2em 0.5em 0.5em 2em;
	padding:0;
	-moz-box-shadow: 0px 2px 13px #999;
	-webkit-box-shadow: 0px 2px 13px #999;
	box-shadow: 0px 2px 13px #999;
	list-style-position:inside;
	border:1px solid #fff;
}
ol#qunit-tests li{
	padding:0.5em;
	border-bottom:3px solid #fff;
}
ol#qunit-tests li ol{
	margin-top:0.5em;
	margin-left:0;
	padding:0.5em;
	background-color:#fff;
}
ol#qunit-tests li li{
	border-bottom:none;
	margin:0.5em;
	background-color:#fff;
}

ol#qunit-tests li li.pass{
	border-left:32px solid #C6E746;
	background-color:#fff;
	color:#5E740B;
	
}
ol#qunit-tests li li.fail{
	border-left:32px solid #EE5757;
	background-color:#fff;
	color:#710909;
}
ol#qunit-tests li.pass{
	background-color:#C6E746;
	color:#5E740B;
}
ol#qunit-tests li.fail{
	background-color:#EE5757;
	color:#000;
}
ol#qunit-tests li strong {
	cursor:pointer;
}
h1#qunit-header{
	background-color:#0d3349;
	margin:0;
	padding:0.5em 0.5em 0.5em 1em;
	color:#fff;
}
h2#qunit-banner{
	height:5px;
	margin:0;
	padding:0;
}
h2.qunit-pass{
	background-color:#C6E746;
}
h2.qunit-fail, #qunit-testrunner-toolbar {
	background-color:#EE5757;
}
#qunit-testrunner-toolbar {
	padding:0 0 0.5em 2em;
}
h2#qunit-userAgent {
	background-color:#2b81af;
	margin:0;
	padding:0.5em 0.5em 0.5em 2.5em;
	color:#fff;
	font-size:0.8em;
}
p#qunit-testresult{
	margin:2em 0.5em 0.5em 2em;
}
strong b.fail{
	color:#710909;
}
strong b.pass{
	color:#5E740B;
}
