
ol#qunit-tests {
	font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	width: 80%;
	margin:2em 0.5em 0.5em 2em;
	padding:0;
	-moz-box-shadow: 0px 2px 13px #999;
	-webkit-box-shadow: 0px 2px 13px #999;
	box-shadow: 0px 2px 13px #999;
	list-style-position:inside;
	border:1px solid #fff;
	font-size: smaller;
}
ol#qunit-tests li{
	padding:0.5em;
	border-bottom:3px solid #fff;	
}
ol#qunit-tests li ol{
	margin-top:0.5em;
	margin-left:0;
	padding:0.5em;
	background-color:#fff;
	border-radius:15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
ol#qunit-tests li li{
	border-bottom:none;
	margin:0.5em;
	background-color:#fff;
}

ol#qunit-tests li li.pass{
	border-left:32px solid #C6E746;
	background-color:#fff;
	color:#5E740B;
	}
ol#qunit-tests li li.fail{
	border-left:32px solid #EE5757;
	background-color:#fff;
	color:#710909;
}
ol#qunit-tests li.pass{
	background-color:#C6E746;
	color:#5E740B;
}
ol#qunit-tests li.fail{
	background-color:#EE5757;
	color:#000;
}
ol#qunit-tests li strong {
	cursor:pointer;
}
h1#qunit-header{
	background-color:#0d3349;
	margin:0;
	padding:0.5em 0.5em 0.5em 1em;
	color:#fff;
	font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
	-moz-border-radius-topright:15px;
	-moz-border-radius-topleft:15px;
	-webkit-border-top-right-radius:15px;
	-webkit-border-top-left-radius:15px;
}
h2#qunit-banner{
	font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	height:5px;
	margin:0;
	padding:0;
}
h2#qunit-banner.qunit-pass{
	background-color:#C6E746;
}
h2#qunit-banner.qunit-fail, #qunit-testrunner-toolbar {
	background-color:#EE5757;
}
#qunit-testrunner-toolbar {
	font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	padding:0 0 0.5em 2em;
}
h2#qunit-userAgent {
	font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	background-color:#2b81af;
	margin:0;
	padding:0.5em 0.5em 0.5em 2.5em;
	color:#fff;
	font-size: small;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-bottomleft:15px;
	-webkit-border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
}
p#qunit-testresult{
	font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
	margin:2em 0.5em 0.5em 2em;
	font-size: small;
}
strong b.fail{
	color:#710909;
	}
strong b.pass{
	color:#5E740B;
	}