# https://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[demos/grunt-contrib-qunit.js]
trim_trailing_whitespace = false
[demos/nyc.js]
trim_trailing_whitespace = false
[test/cli/TapReporter.js]
trim_trailing_whitespace = false

[*.css]
indent_style = tab
