/.nyc_output/
/__codeorigin/
/coverage/
/docs/_site/
/docs/.jekyll-cache/
/docs/Gemfile.lock
/test/integration/*/package-lock.json
/test/integration/*/node_modules/
/node_modules/
/qunit/
/temp/
/.eslintcache
