/.nyc_output/
/__codeorigin/
/coverage/
/demos/*/package-lock.json
/demos/*/node_modules/
/docs/.jekyll-cache/
/docs/_site/
/docs/Gemfile.lock
/test/benchmark/package-lock.json
/test/benchmark/node_modules/
/node_modules/
/qunit/
/temp/
/.eslintcache
