html.qunit body, html.qunit div, html.qunit h1 { font-family: 'trebuchet ms', verdana, arial; margin: 0; padding: 0; }
html.qunit body {font-size: 10pt; }
html.qunit h1 { padding: 15px; font-size: large; background-color: #06b; color: white; }
html.qunit h1 a { color: white; }
html.qunit h2 { padding: 10px; background-color: #eee; color: black; margin: 0; font-size: small; font-weight: normal }

html.qunit p.result { margin-left: 1em; }

h2#qunit-banner { height: 2em; border-bottom: 1px solid white; }
h2#qunit-banner.pass { background-color: green; }
h2#qunit-banner.fail { background-color: red; }

div#qunit-testrunner-toolbar { background: #eee; border-top: 1px solid black; padding: 10px; }

ol#qunit-tests li strong { cursor:pointer; }
ol#qunit-tests .pass { color: green; } 
ol#qunit-tests .fail { color: red; } 
