---
---

$size-1: 1rem;
$size-2: 1.333rem;
$size-3: 1.777rem;
$size-4: 2.369rem;
$size-5: 3.157rem;
$size-spacing: $size-2;
$box-spacing: $size-1;

// https://brand.jquery.org/colors/#qunit-purple
$color-brand: #9c3493; // bright purple  (primary)
$color-accent: #390F39; // deep purple  (secondary)

$color-medium: #6a2166; // medium purple, based on 2015 qunitjs.com design
$color-bright: #fbdbfb; // light purple (derived from primary, hue 300)

$color-white: #fff;
$color-light: #f4f4f4;
$color-off-white: #cdcdcd;
$color-darkgrey: #63676d; // based on 2015 api.jquery.com design;
$color-black: #333;

$screen-s: 480px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;

/* Reset */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

article, aside, figure, footer, header, hgroup, nav, section {
	display: block;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.skip,
.a11y {
	left: -1000em;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 0;
}

/* Site styles */

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	color: $color-black;
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	margin: 0;

	display: flex;
	flex-direction: column;
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: $color-black;
	font-weight: bold;
	margin: 0;
	margin-bottom: $size-spacing;
}
h1 { font-size: $size-5; }
h2 {
	color: $color-accent;
	font-size: $size-4;
}
h3 { font-size: $size-3; }
h4 { font-size: $size-2; }
h5 { font-size: $size-1; }
h6 { font-size: $size-1; }

p {
	margin: 0;
	margin-bottom: $size-spacing;
}

a {
	color: $color-brand;
	text-decoration: none;
	text-underline-position: under;

	&:active,
	&:hover,
	&:focus {
		color: $color-accent;
		text-decoration: underline;
	}
}

.body a {
	text-decoration-color: $color-brand;
	text-decoration-thickness: 2px;
}
.body a:active {
	bottom: -1px;
	position: relative;
}
.body a:hover > code,
.body a:focus > code {
	background-color: $color-bright;
}

pre, code {
	// Menlo – macOS 10.6+. Preferred instead of Monaco which doesn't do bolding very well.
	// Consolas – Windows Vista & newer
	// DejaVu Sans Mono – Ubuntu, Fedora
	font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
}

code {
	font-size: 90%;
	background: $color-light;
	padding: 0.2em 0.4em;
}

hr {
	margin: $size-5 0;
	border: none;
	border-top: 1px solid #ddd;
}

.warning {
	padding: 0.5em $box-spacing;
	margin: $box-spacing;
	border-radius: 5px;

	background: #fdf5c5;
	border: 1px solid #e6d252;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.wrapper {
	width: 100%;
	max-width: 65rem;
	margin: 0 auto;
	padding: 0 $size-spacing;
}

.body.wrapper {
	padding: $size-spacing;
}

.sidebar {
	display: none;
}

.version-details {
	font-size: 90%;
	font-weight: bold;
	background: $color-light;
	padding: 0.2em 0.4em;
}
.version-details--warning {
	background-color: #fdf5c5;
	border-color: #e6d252;
}

@media (min-width: $screen-m) {
	.body {
		display: flex;
	}

	.main {
		// without this, the browser will apply 'auto' min-width
		// to the flex item, which prevents things like <pre>
		// from being clipped with scollable overflow, and thus
		// gives the viewport needless vertical scrollbars.
		// The 'min-width: 0;' rule effectively makes the browser
		// behave the same as as when there is no flexbox at play.
		min-width: 0;
	}

	.sidebar {
		display: block;
		flex: 0 0 220px;
		margin-right: 20px;
	}

	.version-details {
		clear: right;
		float: right;
		text-align: right;
		border: 1px solid $color-off-white;
	}
}

table {
	padding: 0;
	margin-bottom: $size-spacing;

	@media (max-width: $screen-m) {
		display: block;
		overflow: auto;
	}
}
tr {
	border-top: 1px solid $color-off-white;
	background-color: $color-white;
	margin: 0;
	padding: 0;
}
tr:nth-child(2n) {
	background-color: $color-light;
}
tr th,
tr td {
	text-align: left;
	margin: 0;
	padding: 0.3em 0.4em;
	border: 1px solid $color-off-white;
}
tr th {
	background: $color-light;
	font-weight: bold;
}
tr th :first-child,
tr td :first-child {
	margin-top: 0;
}
tr th :last-child,
tr td :last-child {
	margin-bottom: 0;
}

/* Site Header */

.site-header {
	background: $color-accent;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: relative;
}

.site-header-wrapper {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.site-logo {
	color: $color-white;
	display: flex;
	align-items: center;
	font-size: $size-3;
	font-weight: bold;
	padding: $size-1 0;
	text-decoration: none;
	transition: color 0.3s;

	img {
		height: $size-4;
		width: auto;
		margin-right: $size-spacing / 2;
	}
}
.site-logo:hover {
	color: $color-white;
}

/* Site Navigation */

.site-nav {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: $color-white;
	border-top: 1px solid $color-off-white;
	z-index: 1;

	&.opened {
		display: block;
	}

	@media (min-width: $screen-m) {
		display: block;
		position: relative;
		align-self: center;
		background: transparent;
		border-top: 0;
	}
}

.site-nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

	@media (min-width: $screen-m) {
		box-shadow: none;
	}
}

.site-nav-item {
	display: block;
	height: 100%;
	border-bottom: 1px solid $color-off-white;

	@media (min-width: $screen-m) {
		display: inline-block;
		border-bottom: 0;
	}
}

.site-nav-link {
	align-items: center;
	display: flex;
	height: 100%;
	padding: $size-1;
	text-decoration: none;

	@media (min-width: $screen-m) {
		color: $color-bright;

		&:active,
		&:hover,
		&:focus {
			color: $color-white;
			text-decoration: none;
		}
	}
}

.site-nav-link.has-sub-list::after {
	content: '▼';
	font-size: 0.75rem;
	margin-left: 0.5rem;
}

.site-nav-sub-list {
	display: none;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: $color-white;
	border-radius: 3px;

	@media (min-width: $screen-m) {
		position: absolute;
		padding: 0.5rem 1rem;
		margin-top: 6px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	}
}

.site-nav-item.is-open .site-nav-sub-list {
	display: block;
}

.site-sub-nav-link {
	display: block;
	padding: 0.5rem 2rem;
	text-decoration: none;

	@media (min-width: $screen-m) {
		padding: 0.5rem;
	}
}

/* Search */

.site-search {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100vw;
	height: 100%;
	z-index: 1;
	border-top: 1px solid $color-off-white;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

	&.opened {
		display: block;
	}

	@media (min-width: $screen-m) {
		display: block;
		align-self: center;
		position: relative;
		flex: 1;
		max-width: 20rem;
		margin: 0 $size-spacing;
		border: none;
		box-shadow: none;
	}
}

.algolia-autocomplete {
	width: 100%;
	height: 100%;
}

.aa-input-search {
	width: 100%;
	height: 100%;
	padding: 12px 28px 12px 12px;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: $size-1;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}

	@media (min-width: $screen-m) {
		border-radius: 3px;
		&:not(:focus) {
			background: $color-medium;
			color: $color-white;
		}
	}
}

.aa-input-icon {
	height: 16px;
	width: 16px;
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	fill: $color-accent;

	@media (min-width: $screen-m) {
		.site-search:not(:focus-within) & {
			fill: $color-bright;
		}
	}
}

.aa-dropdown-menu {
	background-color: $color-white;
	border-top: 1px solid $color-off-white;
	width: 100%;
	max-height: 50vh;
	overflow: auto;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

	@media (min-width: $screen-m) {
		border-radius: 3px;
		border-top: none;
		min-width: 500px;
		margin-top: $size-spacing;
	}
}

.aa-empty {
	padding: $size-spacing;
}

.aa-suggestion {
	padding: $box-spacing;
	cursor: pointer;
	border-top: 1px solid $color-off-white;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;

	a {
		// reset default link style
		text-decoration: none;
	}

	&:hover,
	&.aa-cursor {
		background: $color-bright;
		border-left: 2px solid $color-brand;
	}
}

.ais-Highlight {
	font-weight: bold;
}

.aa-suggestion_title,
.aa-suggestion_content {
	// reset paragraph margin
	margin: 0;
	// clip title chunks and content match to one line
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.aa-suggestion_title {
	color: $color-accent;
}
.aa-suggestion_content {
	font-size: 0.8rem;
	color: $color-darkgrey;
}

/* Mobile Toggle Controls */

.site-toggles {
	display: flex;

	@media (min-width: $screen-m) {
		display: none;
	}
}

.toggle {
	display: block;
	height: 100%;
	font-size: $box-spacing;
	padding: $box-spacing;
	border: none;
	background: transparent;
	color: $color-bright;
	cursor: pointer;
}

.icon {
	position: static;
	display: inline-block;
	fill: currentColor;
	vertical-align: middle;
	width: $size-2;
	height: $size-2;
	transform: none;
}

.opened .icon {
	fill: $color-brand;
}

/* Sidebar */

.sidebar h4 {
	margin-bottom: 0;
}

.sidebar-list {
	list-style: none;
	padding: 0;
}
.sidebar-item {
	border-left: 4px solid transparent;
}
.sidebar-item-active {
	border-left-color: $color-brand;
}

.sidebar-item a {
	border-left: 1px solid $color-bright;
	// Larger and more consistent click target
	display: block;

	padding: $box-spacing / 2 $box-spacing / 2;

	color: $color-accent;
	text-decoration: none;
}
.sidebar-item-active a,
.sidebar-item a:active,
.sidebar-item a:hover,
.sidebar-item a:focus {
	background: $color-bright;
	text-decoration: none;
}

/* Site Footer */

.site-footer {
	margin-top: $size-4;
	border-top: 1px solid $color-off-white;
	background: $color-light;
	padding: $size-4 0;
	// Let footer grow on short pages
	flex: 1;
}

.site-footer .wrapper {
	display: flex;
	justify-content: space-between;
}

.external-links a {
	margin: 0 0.5rem;
}

pre.highlight {
	border: 1px solid #ddd;
	border-left: 4px solid $color-brand;
	border-radius: 4px;
	margin: 0;
	margin-bottom: $size-spacing;
	padding: 0.5rem 1rem;
	font-size: 95%;
	line-height: 140%;
	overflow-x: auto;
}
.highlight code {
	padding: 0;
	background: transparent;
}

@import "highlight";
