// Amethyst theme variables for QUnit
// https://qunitjs.com/brand/

// Primary color
//
// Usage: link text color, primary button background.
$color-vibrant: #9c3493; // QUnit Primary Purple (Hue 300)

// Dark shade
//
// Usage: navigation background, heading text color
$color-accent: #390F39; // QUnit Secondary Purple

// Bright color
//
// Very close to white, generally within 20 hue points of $color-vibrant,
// and within the following range: `hsl(???, 80-84%, 72-92%)`
//
// Usage: navigation link color, search result highlight background
$color-bright: hsl(300, 80%, 92.2%);
