// Amethyst theme variables for QUnit
// https://brand.jquery.org/colors/#qunit-purple

// Primary purple
$color-vibrant: #9c3493;

// Secondary purple
$color-accent: #390F39;

// Medium purple, based on 2015 qunitjs.com design
$color-medium: #6a2166;

// Very light purple (matches hue 300 of primary)
$color-bright: #fbdbfb;
