// Custom styles for api.qunitjs.com

/* Two columns instead of one */
.main {
	padding: $size-spacing;
}
.sidebar {
	display: none;
}
@media (min-width: $screen-m) {
	.main {
		display: flex;
	}
	.body {
		// without this, the browser will apply 'auto' min-width
		// to the flex item, which prevents things like <pre>
		// from being clipped with scollable overflow, and thus
		// gives the viewport needless vertical scrollbars.
		// The 'min-width: 0;' rule effectively makes the browser
		// behave the same as as when there is no flexbox at play.
		min-width: 0;
	}
	.sidebar {
		display: block;
		flex: 0 0 220px;
		margin-right: 20px;
	}
}

/* Sidebar */

.sidebar h4 {
	margin-bottom: 0;
}

.sidebar-list {
	list-style: none;
	padding: 0;
}
.sidebar-item {
	border-left: 4px solid transparent;
}
.sidebar-item-active {
	border-left-color: $color-vibrant;
}

.sidebar-item a {
	border-left: 1px solid $color-bright;
	// Larger and more consistent click target
	display: block;

	padding: $box-spacing / 2 $box-spacing / 2;

	color: $color-accent;
	text-decoration: none;
}
.sidebar-item-active a,
.sidebar-item a:active,
.sidebar-item a:hover,
.sidebar-item a:focus {
	background: $color-bright;
	text-decoration: none;
}

/* Custom link styles */

.body a {
	text-decoration-color: $color-vibrant;
	text-decoration-thickness: 2px;
}
.body a:hover > code,
.body a:focus > code {
	background-color: $color-bright;
}

/* API versioning */

.version-details {
	font-size: 90%;
	font-weight: bold;
	padding: 0.2em 0.4em;

	@media (min-width: $screen-m) {
		clear: right;
		float: right;
		margin-left: 1.333rem;
		text-align: right;
		border-width: 1px;
		border-style: solid;
	}
}
.version-details:not(.note--warning) {
	background: $color-light;
	border-color: $color-off-white;
}
