name: spider-check
on:
  # Once a week on Friday at 00:00
  schedule:
    - cron: '0 0 * * 5'
  # Or manually
  workflow_dispatch:
  # Or when developing this workflow
  push:
    paths:
      - .github/workflows/spider-check.yaml
  pull_request:
    paths:
      - .github/workflows/spider-check.yaml

jobs:
  spider-check:
    env:
      # Site address to crawl
      #
      # Example:
      # - https://example.org
      # - https://example.github.io/
      # - https://example.github.io/my-project/
      MY_SITE: https://api.qunitjs.com
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'qunitjs' }} # skip on forks
    steps:
      - uses: actions/checkout@v3
        with:
          repository: jquery/hydra-link-checker
          ref: v2.0.0
      - name: Run hydra-link-checker
        run: python3 hydra.py "$MY_SITE"
